---
import { Image } from 'astro:assets';
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Body from '@components/Body.astro';
import Main from '@components/Main.astro';
import FormattedDate from '@components/FormattedDate.astro';

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;


---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<Body>
		<Header />
		<Main>
			<article>
				<div class="hero-image">
					{heroImage && <Image src={heroImage} alt="" />}
				</div>
				<div class="pt-4 text-center leading-none">
					<div class="mb-2">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="italic">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
					<h1>{title}</h1>
					<div class="w-full flex flex-col items-center mb-4">
						</div>
						<hr class="w-48 h-1 mx-auto my-4 900 border-0 rounded md:my-10 bg-shark-500">
				
				</div>
				<slot />

			</article>
		</Main>
		<Footer />
	</Body>
</html>
