---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Body from '@components/Body.astro';
import CourseCard from '@components/CourseCard.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@consts';

import syp from '../../assets/syp.jpg';
import lsda from '../../assets/lsda.jpg';
import dvis from '../../assets/dvis.jpg';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header />
		<main class="flex-1 pt-40 w-[960px]">
			<h1 class="text-4xl font-bold mt-8 mb-4 text-center">Courses</h1>
			<p>Here are some of the notes that I have taken while studying Data Science at the</p> <a href="https://en.itu.dk/" class="text-accent underline"> IT University of Copenhagen</a>

      <div class="flex flex-wrap -mx-4 mt-8">

        <CourseCard href="/courses/second-year-project" title="Second Year Project" image={syp} alt="A blurry picture of a book with word definitions."/>

        <CourseCard href="/courses/large-scale-data-analysis" title="Large Scale Data Analysis" image={lsda} alt="A hallway in a datacenter with servers on each side."/>

        <CourseCard href="/courses/data-visualisation" title="Data Visualisation" image={dvis} alt="Multiple black and grey graphs on a computer screen."/>
        
      </div>

		</main>
		<Footer />
	</Body>
</html>
